.container{
  width: 100%;
  margin: auto;
}
.flex{
  display: flex;
}
img{
  width: 150px;
  height: 175px;
  position: relative;
  padding: 10px;
  display: flex;
}
.top-border{
  border: .5px solid black;
  height: .5px;
}
.full-pad{
  padding-top: 15px;
  text-align: justify;
  width: 100%;
}
.rows{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.large-contain{
  width: 70vw;
  margin: auto;
}
.top-section{
  position: relative;
  height: 175px;
  margin: auto;
  padding-top: 25px;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.bold{
  font-weight: 700;
}
.text-size{
  font-size: 25px;
}
